#board {
  padding: 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  background: dodgerblue;
  box-shadow: black;
}

.slot{
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 80px;
  font-family: sans-serif;
}


.ball{
  margin-top: 18px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 100px;
  font-family: sans-serif;
}
.app{
  text-align: center;
  text-decoration-style: wavy;
  font-weight: bold;
}